body{ 
  text-align: center;
  background-color: #D8B4F8;
  margin: 0px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


/** Nav Section**/
nav{
    display: flex; 
    justify-content: flex-end;
    background-color: #bba4b885;
    padding: 10px;
    border-bottom: 5px solid #000000; 
}

    nav a {
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #5458d6;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

        a:hover {
        box-shadow: inset 100px 0 0 0 #5458d6;
        color: white;
        }

main{
    flex-grow: 1;
    min-height: 100%
     }

/** Footer Section**/
footer{
    
    margin-top: auto;
    background-color: #bba4b885;
    padding: 10px;
    border-top: 5px solid #000000; 
    display: flex; 
    justify-content: center;
}

    footer a {
        text-decoration: none;
        box-shadow: inset 0 0 0 0 #54b3d6;
        color: #5458d6;
        margin: 0 -.25rem;
        padding: 0 .25rem;
        transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    }

        a:hover {
        box-shadow: inset 100px 0 0 0 #5458d6;
        color: white;
        }


/** Splash Section**/
 .splash{
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-color: #FFC7EA;
     padding: 10px;
     height: 500px;
     margin: 0px;
     position: relative;
    }
        .splash h1 {
            font-family: 'Brush Script MT', cursive;
            font-size: 63px;
            color: #0084ff;
            text-shadow: 
            -1px -1px 0 #fffdfd, 
            1px -1px 0 #fffdfd, 
            -1px 1px 0 #fffdfd,  
            1px 1px 0 #fffdfd; 
        }

          .bird-image { 
            position: absolute; 
            top: 50px; 
            left: 30px; 
            width: 150px; 
            height: auto; 
            mix-blend-mode: multiply;
        }

        .bird2-image { 
            position: absolute; 
            top: 120px;
            right: 30px; 
            width: 150px; 
            height: auto; 
            mix-blend-mode: multiply;
        }

       
        .city-image { 
            position: absolute; 
            bottom: 0px; 
            left: 50%; 
            transform: translateX(-50%); 
            width: 80%;
            max-height: 280px;
            height: auto; 
            mix-blend-mode: multiply;    
        }
          


/** headshot**/
.headshot{
padding-top: 40px;
}
    .headshot img{
        border: 10px solid #000000;
        margin: 0 auto;
        border-radius: 50%; 
    }


.container { 
    border-color:  #000000;
    border-width: 10px; 
    padding: 30px;
    
}
.intro h2 {
    font-family: 'Monospace', sans-serif;
    color: #0084ff;
    font-size: 30px;
    text-shadow: 
    -1px -1px 0 #fffdfd, 
    1px -1px 0 #fffdfd,  
    -1px 1px 0 #fffdfd,  
    1px 1px 0 #fffdfd; 
  }
.custom-hr {
    border: none; 
    text-align: center; 
    height: 2px; 
    background-color: #ccc; 
    margin: 20px auto; 
    width: 75%;
  }
  
  .custom-hr::before {
    content: "\2022 \2022 \2022"; 
    font-size: 24px; 
    background-color: #fff; 
    padding: 0 10px; 
  }

.card { 
   
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right: 150px;

    background-color: #f2eef5a4;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    border: 1px solid #ccc; 
    border-radius: 8px;
    overflow: hidden;
}

.card h2{
    font-family: 'Apple Chancery', cursive;
    color: #007df1;
    font-size: 40px;
    text-shadow: 
    -1px -1px 0 #000000, 
    -1px -1px 0 #000000, 
    -1px 1px 0 #000000,  
    1px 1px 0 #000000; 
  
}
.three-col {

    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px; 
    justify-content: center;
    margin: 30px;
    padding: 30px;
    overflow-x: auto;
}

.three-col:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); 
}
    .three-col .item {
        border: 1px solid #000; 
        max-width: 275px; 
        background-color: #f9f9f9;
        border-radius: 10px;
    }

        .languages-image {
            max-width: 100%; 
            height: auto; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px;
        }

        .leadership-image {
            max-width: 100%; 
            height: auto; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px;
        }

        .skills-image {
            max-width: 100%; 
            height: auto; 
            border-top-left-radius: 10px; 
            border-top-right-radius: 10px;
        }

        .item {
            display: flex;
            flex-direction: column; 
          }
            .item ul {
                list-style: none;
                margin: 0px;
                padding-left: 20px;
                text-align: left;
            }
            .item ul li {
                text-align: left;
                margin-left: 5px;
              }

            .item dl {
                width: 100%;
                overflow: hidden;
                padding: 0;
                margin: 0     
            }
            
            .item dt {
                float: left;
                width: 35%;                             
                padding: 0;
                margin: 0;
                font-weight: bold;
            }
            
            .item dd {
                float: left;
                width: 65%;
                padding: 0;
                margin: 0
            }

        .three-col .item h3 {
            color: #3c96f1; 
            text-align: center; 
          }
 
/** Top of contact section **/
.contact {
    margin-top: 75px;
    margin-bottom: 75px;
}
    .contact h1 {
        font-family: 'Apple Chancery', cursive;
        color: #0084ff;
        font-size: 30px;
        text-shadow: 
        -1px -1px 0 #fffdfd, 
        1px -1px 0 #fffdfd,  
        -1px 1px 0 #fffdfd, 
        1px 1px 0 #fffdfd; 
    }

    .one-col{
        max-width: 950px;
        margin: 0 auto;     }
   
        .card form {
        align-items: flex-start; /* Align form elements to the left */
        display: flex; /* Use flex layout for better alignment */
        flex-direction: column;
        max-width: 800px;
          }
      
        
      
        .card input[type="text"], .card textarea {
            padding: 10px;
            border: 2px solid #5c3d3d;
            border-radius: 5px;
            width: 100%
        }
      .card label, .card input, .card textarea {
            margin-bottom: 10px; /* Add some spacing between form elements */
            max-width: 500px;
            overflow-x: auto;
                }
        .card input[type="submit"] {
            background-color: #3c96f1; /* Set the background color for the submit button */
            color: #fff; /* Set text color for the submit button */
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            cursor: pointer;
        }
        .card textarea {
            padding: 10px;
            border: 2px solid #5c3d3d; /* Add the same border style as input[type="text"] */
            border-radius: 5px;
            width: 100%;
        }
        .card input[type="submit"]:hover {
            background-color: #357dbf; /* Change background color on hover */
        }
     
        .card p {
            margin-bottom: 10px;
          }
      
      
      
      
      